#wrapper {
	padding-left: 400px;
}

#sidebar-wrapper {
	width: 400px;
	color: white;
	background-color: steelblue;
}

#sidebar-wrapper input { color: black;}

#sidebar-wrapper input#chat[type="text"] {
	color: black;
	width: 380px;
	position: absolute;
	left: 7px;
	bottom: 7px;
}