#wrapper {
	padding-left: 300px;
}

#sidebar-wrapper {
	width: 300px;
	color: white;
	background-color: steelblue;
}

.toggled #sidebar-wrapper {
	padding:0px;
}

#sidebar-wrapper h3 { margin: 15px 5px; }
#sidebar-wrapper input { color: black;}

#sidebar-wrapper input#chat[type="text"] {
	color: black;
	width: 285px;
	position: absolute;
	left: 7px;
	bottom: 7px;
}

.loginErrors {
	color: red;
	font-weight: bold;
}

.score {
	width:50px; 
	text-align:center;
	font-weight: bold;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color:#81ABCE;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border: 0;
	background-color:#5890BE;
}