<!DOCTYPE html>
<html lang="en" ng-app="musicBattleApp">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Music Battle now !</title>

	<script src="//localhost:35729/livereload.js"></script>

	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/emojify.js/dist/js/emojify.js"></script>
	<!-- endbower -->

	<!--Libraries-->
	<script src="node_modules/socket.io-client/socket.io.js"></script>

	<!-- Music Battle modules -->
	<script src="js/app.js"></script>

	<!--Factories-->
	<script src="js/factories/socketFactory.js"></script>
	<!--Services -->
	<script src="js/services/playerService.js"></script>
	<script src="js/services/notificationService.js"></script>
	<script src="js/services/chatService.js"></script>
	<script src="js/services/configurationService.js"></script>
	<script src="js/services/gameService.js"></script>
	<script src="js/services/youtubeService.js"></script>
	<script src="js/services/scoreService.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/playerController.js"></script>
	<script src="js/controllers/chatController.js"></script>
	<script src="js/controllers/gameController.js"></script>
	<script src="js/controllers/scoreController.js"></script>
	<script src="js/controllers/loginController.js"></script>

	<!-- CSS -->
	<!--<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />-->

	<!-- Bootstrap Core CSS -->
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->

	<!-- Custom CSS -->
	<link href="css/simple-sidebar.css" rel="stylesheet">

	<link href="css/musicbattle.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div id="wrapper" ng-controller="GameController">
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content" ng-controller="LoginController">
					<div class="modal-header">
						<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
						<h4 class="modal-title" id="myModalLabel" style="text-align:center;">Hey, welcome here !</h4>
					</div>
					<div class="modal-body" style="text-align:center;">
						<form name="loginForm" ng-submit="loginForm.$valid && login()">
							What's your name ?
							<br />
							<br />
							<!--Error messages due to form validation-->
							<div class="loginErrors" ng-messages="loginForm.playerName.$error" ng-show="loginForm.$dirty" ng-messages-multiple>
								<p ng-message="minlength">Your name is too short.</p>
								<p ng-message="required">Your name is required.</p>
							</div>
							<input type="text" ng-model="playerName" name="playerName" required ng-minlength="4">
						</form>
					</div>
					<div class="modal-footer" style="text-align: center;">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
						<!--<button type="button" class="btn btn-primary">Login</button>-->
					</div>
				</div>
			</div>
		</div>
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<div ng-controller="PlayerController">
				<h3>Online players</h3>
				<!--List of players connecting at the moment-->
				<div ng-show="isLoggedIn">
					<table class="table table-striped">
						<tr ng-repeat="(key, playerName) in players">
							<td ng-class="{true:'bold', 'false':''}[player1 == playerName || player2 == playerName]">{{playerName}}</td>
						</tr>
					</table>
				</div>
			</div>

			<!-- Scores, stay even after player disconnects -->
			<h3>Scores</h3>
			<div ng-controller="ScoreController">
				<table class="table table-striped">
					<tr ng-repeat="(key, value) in scores">
						<td>{{value.playerName}}</td>
						<td class="score">{{value.score}}</td>
					</tr>
				</table>
			</div>

			<!-- User chat -->
			<h3>Chat</h3>
			<div ng-controller="ChatController" ng-show="isLoggedIn">
				<form name="chatForm" id="chatForm" ng-submit="sendMessage()">
					<input id="chat" type="text" ng-model-options="{ updateOn: 'submit default blur'}" name="message" ng-model="message" />
				</form>
				<div ng-bind-html-unsafe style="display:block" ng-model-options="{ updateOn: 'submit'}" ng-repeat="(key, value) in messages"><b>({{value.date}}) {{value.playerName}}</b>: {{value.message}}</div>
				<!-- TODO Add smileys selection and transformation -->
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><</a>

				<!-- Page Content -->
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<!--<br /> !-- Game informations --!-->
								<div ng-show="debugMode">
									Player 1 : {{player1}}
									<br /> Player 2 : {{player2}}
									<br /> CanPlay? : {{canPlay}}
									<br /> Playing? : {{playing}}
									<br /> ChoosingSongs? : {{choosingSongs}}
									<br /> mustChooseSong : {{mustChooseSong}}
									<br />
									<!--<input type="button" ng-click="refreshRootScope" value="refresh" />-->
								</div>

								<!-- Song selection -->
								<div ng-show="mustChooseSong">
									<form name="songForm" ng-submit="songForm.$valid && chooseSong()">
										You must choose a song (requires youtube link):
										<br /> The theme is : <b>{{theme}}</b>
										<!--<input type="text" ng-model-options="{ updateOn: 'submit default blur'}" name="songLink" ng-model="songLink" />-->
										<input type="text" ng-pattern="youtubeLinkPattern" required name="songLink" ng-model="songLink" />

										<div ng-messages="songForm.songLink.$error" ng-show="songForm.$dirty" ng-messages-multiple>
											<p ng-message="pattern">URL is not a youtube link.</p>
										</div>

									</form>
								</div>
								<div ng-show="!mustChooseSong && playing">
									{{player1}} and {{player2}} are currently chosing their song. Be patient :)
								</div>

								<div style="display-inline" ng-controller="PlayerController" ng-show="isLoggedIn">

									<div style="display-inline" ng-show="playing">
										<!-- Theme display -->
										<h3>Theme : {{theme}}</h3>
										<!--Player 1 video -->
										<div style="display:inline;width:40%" id="video1">
											<span style="display:block"><b>{{player1}}</b>'s choice' </span> 
											<iframe width="560" height="315" ng-src="{{playing && player1Song}}" frameborder="0" allowfullscreen></iframe>
											<span style="display:block"><b>Score :</b> {{playersWhoVotedForSong1.length}}</span>
											<input type="button" ng-show="!hasVoted && canVote" ng-click="voteForVideo(1)" value="Vote for this video" />
										</div>
										<!--Player 2 video -->
										<div style="display:inline;width:40%" id="video2">
											<span style="display:block"><b>{{player2}}</b>'s choice' </span> 
											<iframe width="560" height="315" ng-src="{{playing && player2Song}}" frameborder="0" allowfullscreen></iframe>
											<span style="display:block"><b>Score :</b> {{playersWhoVotedForSong2.length}}</span>
											<input type="button" ng-show="!hasVoted && canVote" ng-click="voteForVideo(2)" value="Vote for this video" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<!--<script src="js/jquery.js"></script>-->

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
				var label = $("#menu-toggle").text();
				(label == "<") ? $("#menu-toggle").text(">") : $("#menu-toggle").text("<"); 
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		
		$(document).ready(function(){
			$('#myModal').on('shown.bs.modal', function () {
				$('#myInput').focus()
			});
			emojify.setConfig({img_dir : 'bower_components/emojify.js/dist/images/basic/'})
		});
		
		
	</script>
	
</body>

</html>