<html ng-app="musicBattleApp">
	<head>
		<title>Music Battle now !</title>
		<!--Libraries-->	
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
		<script src="node_modules/socket.io-client/socket.io.js"></script>
		<script src="node_modules/moment/moment.js"></script>
		
		<!-- Music Battle modules -->
		<script src="js/app.js"></script>
		
		<!--Factories-->
		<script src="js/factories/socketFactory.js"></script>
		<!--Services -->
		<script src="js/services/playerService.js"></script>
		<script src="js/services/notificationService.js"></script>
		<script src="js/services/chatService.js"></script>
		<script src="js/services/configurationService.js"></script>
		<script src="js/services/gameService.js"></script>
		
		<!-- Controllers -->
		<script src="js/controllers/playerController.js"></script>
		<script src="js/controllers/themeController.js"></script>
		<script src="js/controllers/chatController.js"></script>
		<script src="js/controllers/gameController.js"></script>
		
	</head>	
	<body>
		
		<!-- Game informations -->
		<div ng-controller="GameController" >
			Player 1 : {{player1}}<br />
			Player 2 : {{player2}}<br />
			CanPlay? : {{canPlay}}<br />
			Playing? : {{playing}}<br />
			ChoosingSongs? : {{choosingSongs}}<br />
			<input type="button" ng-click="refreshRootScope" value="refresh" />
		</div>
		
		<div ng-controller="PlayerController">
						
			<!--Player name selection-->
			<div ng-hide="isLoggedIn">
				<form  name="playerForm" ng-submit="playerForm.$valid && playerReady()">
					Hey ! Welcome here! What's your name ?<br />
					<input type="text" ng-model="playerName" name="playerName" required ng-minlength="4"><br />
					
					<!--Error messages due to form validation-->
					 <div ng-messages="playerForm.playerName.$error" ng-show="playerForm.$dirty" ng-messages-multiple>
						<p ng-message="minlength">Your name is too short.</p>
						<p ng-message="required">Your name is required.</p>
					</div>

				</form>
			</div>
			<!--List of players playing at the moment-->
			<div ng-show="isLoggedIn">
					These are the players playing at the moment : 
				<span style="display:block" ng-repeat="(key, playerName) in players">{{playerName}}</span>	
			</div>
			
		</div>
		
		<!-- User chat -->
		<div ng-controller="ChatController" ng-show="isLoggedIn" >	
			<form  name="chatForm" ng-submit="sendMessage()">		
				<input type="text" ng-model-options="{ updateOn: 'submit default blur'}" name="message" ng-model="message" />
			</form> 
			<span style="display:block" ng-model-options="{ updateOn: 'submit'}"  ng-repeat="(key, value) in messages"><b>({{value.date}})-{{value.playerName}} </b>:{{value.message}}</span>
			
		</div>
		
		
		<!--Theme selection -->
		<div ng-controller="ThemeController" ng-show="playing && mustSelectTheme" >
			Pick a theme : 
			<select ng-model="selectedTheme" ng-options="theme as theme.name for theme in themes"></select>
			<input type="button" ng-click="themeSelected()" value="Select theme" />		
		</div>
		
		<!-- Song selection -->
		<div ng-controller="GameController" ng-show="mustChooseSong" >
			<form  name="songForm" ng-submit="chooseSong()">	
				You must choose a song (requires youtube link): <br />
				<input type="text" ng-model-options="{ updateOn: 'submit default blur'}" name="songLink" ng-model="songLink" />
			</form>
		</div>
		 <div style="display-inline" ng-controller="GameController" ng-show="playing">
			 <div style="display:inline;width:40%;background-color:red" id="video1">
				 {{player1Song}}
			</div>
			<div style="display:inline;width:40%;background-color:blue" id="video2">
				{{player2Song}}
			</div>
		</div>
		
	</body>
	
</html>
	